*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
body{
    width: 100%;
    height: 100%;
    position: relative;
}
.header{
    top: 0;
    width: 100%;
    height: 120px;
    /* position: fixed; */
    background-color: white;
    box-shadow:  2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.header img{
    height: 100%;
    margin-left: 150px;
}
.header_right{
    width: 14%;
    height: 100%;
    margin-right: 150px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}
.header_right i:hover{
    cursor: pointer;
    color: pink;
    font-size: 40px;
}
.fixed-menu {
    position: fixed;
    right: -10px;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-left: 3px solid #a0a0a0;
    border-radius: 2%;
    z-index: 2;
}
.fixed-block{
    width: 100%;
    padding: 4vw;
}
.fixed-title{
    display: flex;
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    justify-content: space-between;
}
.fixed-title i:hover{
    font-size: 25px;
    color: pink;
}

.fixed-menu .primary-menu{
    font-size: 20px;
}

.fixed-menu .primary-menu li{
    margin-top: 20px;
    font-weight: 700;
}

.fixed-menu  li:hover {
    cursor: pointer;
    text-decoration:underline;
}

.menu-about{
    margin-top: 50px;
    font-size: 18px;
}

.fixed-menu .menu-about li{
    margin-top: 20px;
    font-weight: 500;
}


.fixed-menu .menu-about .login{
    margin-top: 50px;
}

.fixed-menu .link{
    display: flex;
    margin-top: 50px;
    font-size: 25px;
}

.fixed-menu .link li{
    padding: 10px 5px;
    opacity: 0.8;
}

.fixed-menu .link li:hover{
    font-size:30px;
    padding: 5px 5px;
}

.site-copyright{
    margin-top: 25px;
    opacity: 0.8;
    cursor: pointer;
}

.fixed-cart{
    position: fixed;
    right: -10px;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-left: 3px solid #a0a0a0;
    border-radius: 2%;
    z-index: 2;
}

.list-product{
    width: 90%;
    padding: 30px 0;
    border-bottom: 3px solid black;
}

.total_price{
    margin-top: 20px;
}
.fixed-cart .btn{
    width: 90%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn input{
    width: 50%;
    height: 45px;
    border: 0;
    color: white;
    padding: 10px;
    background-color: black;
}

.btn input:hover {
    cursor: pointer;
    width: 52%;
    height: 50px;
}

.fixed-seach {
    position: fixed;
    right: -10px;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-left: 3px solid #a0a0a0;
    border-radius: 2%;
    z-index: 2;
}

.fixed-seach .seach-btn{
    width: 100%;
    margin: 20px 0px;
}

.fixed-seach .seach-btn input{
    width: 80%;
    height: 35px;
    padding-left: 5px;
}

.fixed-seach .seach-btn button{
    margin-left: -5px;
    width: 15%;
    height: 35px;
    color: white;
    background-color: black;
    border: 0;
}

/* content */



.container{
    /* margin-top: 11%; */
    padding-top: 5px;
    max-width: 100%;
    overflow: auto;
    
}

.product{
    display: flex;
}

.product_block{
    margin: 50px;
    
}

.product-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-right{
    width: 50%;
}

.product-right img{
    width: 100%;
    cursor: pointer;
}

.product-left p{
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 15px;
    opacity: 0.9;
}

.product-left h3{
    font-size: 50px;
}

.product-left button{
    cursor: pointer;
    width: 150px;
    height: 50px;
    color: white;
    border: 0;
    background-color: black;
}
.fa-arrow-right_hover{
    opacity: 0;
    transform: translateX(-10px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.product-left button:hover .fa-arrow-right_hover{
    transform: translateX(0);
    opacity: 1;
}


.new_product{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    padding: 20px 50px;
}

.title{
    width: 100%;
    height: 150px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}


.product_block{
    width: 22%;

}

.product_block img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    
}

.product-img{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.product-img img{
    position: relative;
    transition: transform 0.3s ease;
}

.product-img:hover img {
    transform: scale(1.1);
    transform-origin: center center;
}
.product-img button{
    position: absolute;
    width: 100%;
    height: 30px;
    border: 0;
    background-color: black;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.product-img:hover button{
    transform: translateY(0);
    opacity: 1;
}

.box-detail{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}
.price {
    display: flex;
    margin-left: 60px;
}

.price p{
    margin-left: 30px;
    text-decoration: line-through;
}

.btn-center{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-center input{
    background-color: white;
    color: black;
    padding: 20px 30px;
    border-radius: 10%;
    cursor: pointer;
}

.btn-center input:hover{
    padding: 22px 35px;
    background-color: rgb(216, 214, 214);
}

.poster{
    width: 100%;
    margin-bottom: 50px;
    overflow: hidden;
}

.poster img{
    width: 100%;
    height: 500px;
    opacity: 0.8;
    object-fit: cover;
    position: relative;
    transition: transform 0.3s ease;
}

.poster img:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: center center;
}



/* contact */





.contact{
    width: 40px;
    right: 50px;
    bottom: 150px;
    z-index: 10;
    position: fixed;
    color: white;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
.contact.fadeIn {
    animation-name: fadeIn;
}

.contact.fadeOut {
    animation-name: fadeOut;
}

.contact i{
    font-size: 30px;
    background-color: pink;
    border-radius: 50%;
    padding: 15px;
    margin: 15px 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(50px);
    }
}

.mess{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(166, 166, 250);
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 10;
}

i:hover{
    color: rgb(91, 91, 219);
    cursor: pointer;
}


/* footer */

.footer{
    width: 100%;
}
.banner{
    padding: 50px 0px;
    border-top: 5px solid rgb(139, 97, 97);
    border-bottom: 5px solid rgb(139, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.complain{
    width: 100%;
    height: 200px;
    background-color: bisque;
    display: flex;

    border-bottom: 5px solid rgb(139, 97, 97);
}

.complain_item{
    width: 25%;
    background-color: bisque;
    padding: 30px;
    font-size: 15px;
}

.title-support{
    font-weight: 700;
    font-size: 15px;
}

.complain_item .fa-phone{
    color: white;
    padding: 8px;
    background-color: pink;
    border-radius: 50%;
}

.hotline{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.input-group{
    display: flex;
    margin-top: 20px;
}
.input-group input[type="email"]{
    border-right: 0;
    height: 40px;
    width: 150px;
    font-size: 15px;
    border: 2px solid rgb(202, 202, 202);
}
.input-group input[type="submit"]{
    background-color: rgb(70, 70, 70);
    color: white;
    cursor: pointer;
    border: 0;
    height: 40px;
    width: 65px;
}

.social ul{
    width: 80%;
    display: flex;
    margin: 20px 0;
    font-size: 40px;
}

.social ul li{
    margin: 10px;
}

.section_instagram {
    display: flex;
    height: 300px;
    margin: 30px 0;
}
  
.section_instagram-item {
    flex: 1;    
    position: relative;
    overflow: hidden;
}

.section_instagram-item img {
    position: absolute;
    width: 100%;
    height: 300px;
    opacity: 0.8;
    object-fit: cover;
    
    transition: transform 0.3s ease;
}
.section_instagram-item i{
    position: absolute;
    top: 100px;
    left: 80px;
    font-size: 80px;
    z-index: 2;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.section_instagram-item:hover i {
    transform: translateY(0); 
    opacity: 1;
}
.section_instagram-item:hover img{
    transform: scale(1.2);
    opacity: 1;
    z-index: 1;
}

.describe{
    display: flex;
    position: relative;
    width: 100%;
    background-color: bisque;
    font-size: 20px;
}

.describe .describe-block{
    width: 25%;
    padding: 50px 30px;
}


.list li{
    margin-top: 15px;
    display: flex;
    cursor: pointer;
}

.list li i{
    margin-right: 15px;
}

.describe-block img{
    width: 100%;
    height: 80%;
    margin: 10px 0;
    object-fit: cover;
}

.license{
    display: flex;
    padding: 30px;
    background-color: rgb(204, 195, 184);
}

.license-left{
    width: 70%;
}

.license-right img{
    width: 150px;
}

