
.header{
    top: 0;
    width: 100%;
    height: 120px;
    /* position: fixed; */
    background-color: white;
    box-shadow:  2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.header img{
    height: 100%;
    margin-left: 150px;
}
.header_right{
    width: 13%;
    height: 100%;
    margin-right: 150px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}
.header_right i:hover{
    cursor: pointer;
    color: pink;
    font-size: 40px;
}
.fixed-menu {
    position: fixed;
    right: 0;
    top: 0;
    padding: 50px 0 0 50px;
    width: 33.33%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-left: 3px solid #a0a0a0;
    border-radius: 2%;
    z-index: 2;
}
.menu{
    display: flex;
    width: 100%;
    padding: 0 50px 0 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    justify-content: space-between;
}
.menu i:hover{
    font-size: 25px;
    color: pink;
}

.fixed-menu .primary-menu{
    margin-top: 50px;
    font-size: 20px;
}

.fixed-menu .primary-menu li{
    margin-top: 20px;
    font-weight: 700;
}

.fixed-menu  li:hover {
    cursor: pointer;
    text-decoration:underline;
}

.menu-about{
    margin-top: 50px;
    font-size: 18px;
}

.fixed-menu .menu-about li{
    margin-top: 20px;
    font-weight: 500;
}


.fixed-menu .menu-about .login{
    margin-top: 50px;
}

.fixed-menu .link{
    display: flex;
    margin-top: 50px;
    font-size: 25px;
}

.fixed-menu .link li{
    padding: 10px 5px;
    opacity: 0.8;
}

.fixed-menu .link li:hover{
    font-size:30px;
}

.site-copyright{
    margin-top: 25px;
    opacity: 0.8;
    cursor: pointer;
}



/* content */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
    border-top: 5px solid rgb(139, 97, 97);
}



.left-side, .right-side {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.left-side {
    background-color: #f0f0f0;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #ffe0bd, #f9b3e1);
}

.right-side {
    background-color: #ffffff;
    overflow-y: auto;
}

.scrollable-content {
    padding: 10px;
}




/* footer */

.footer{
    width: 100%;
}
.banner{
    padding: 50px 0px;
    border-top: 5px solid rgb(139, 97, 97);
    border-bottom: 5px solid rgb(139, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.complain{
    width: 100%;
    height: 200px;
    background-color: bisque;
    display: flex;

    border-bottom: 5px solid rgb(139, 97, 97);
}

.complain_item{
    width: 25%;
    background-color: bisque;
    padding: 30px;
    font-size: 15px;
}

.title-support{
    font-weight: 700;
    font-size: 15px;
}

.complain_item .fa-phone{
    color: white;
    padding: 8px;
    background-color: pink;
    border-radius: 50%;
}

.hotline{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.input-group{
    display: flex;
    margin-top: 20px;
}
.input-group input[type="email"]{
    border-right: 0;
    height: 40px;
    width: 150px;
    font-size: 15px;
    border: 2px solid rgb(202, 202, 202);
}
.input-group input[type="submit"]{
    background-color: rgb(70, 70, 70);
    color: white;
    cursor: pointer;
    border: 0;
    height: 40px;
    width: 65px;
}

.social ul{
    width: 80%;
    display: flex;
    margin: 20px 0;
    font-size: 40px;
}

.social ul li{
    margin: 10px;
}

.section_instagram {
    display: flex;
    height: 300px;
    margin: 30px 0;
}
  
.section_instagram-item {
    flex: 1;    
    position: relative;
    overflow: hidden;
}

.section_instagram-item img {
    position: absolute;
    width: 100%;
    height: 300px;
    opacity: 0.8;
    object-fit: cover;
    
    transition: transform 0.3s ease;
}
.section_instagram-item i{
    position: absolute;
    top: 100px;
    left: 80px;
    font-size: 80px;
    z-index: 2;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.section_instagram-item:hover i {
    transform: translateY(0); 
    opacity: 1;
}
.section_instagram-item:hover img{
    transform: scale(1.2);
    opacity: 1;
    z-index: 1;
}

.describe{
    display: flex;
    position: relative;
    width: 100%;
    background-color: bisque;
    font-size: 20px;
}

.describe .describe-block{
    width: 25%;
    padding: 50px 30px;
}


.list li{
    margin-top: 15px;
    display: flex;
    cursor: pointer;
}

.list li i{
    margin-right: 15px;
}

.describe-block img{
    width: 100%;
    height: 80%;
    margin: 10px 0;
    object-fit: cover;
}

.license{
    display: flex;
    padding: 30px;
    background-color: rgb(204, 195, 184);
}

.license-left{
    width: 70%;
}

.license-right img{
    width: 150px;
}

